<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>first_phase.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E85035A3F0719D7D05981CDB9E449A884C8DCE1D</string>
				<key>dateExpires</key>
				<string>21/02/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E85035A3F0719D7D05981CDB9E449A884C8DCE1D</string>
						<key>dateExpires</key>
						<string>21/02/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2P5K8VS57T</string>
						<key>name</key>
						<string>wahyu kharisma mujiono</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E85035A3F0719D7D05981CDB9E449A884C8DCE1D</string>
						<key>dateExpires</key>
						<string>21/02/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2P5K8VS57T</string>
						<key>name</key>
						<string>wahyu kharisma mujiono</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2P5K8VS57T.com.suitmedia.firstPhase</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>2P5K8VS57T</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2P5K8VS57T.com.suitmedia.firstPhase</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>454b3333-7b14-4dc1-adfc-eb117d8dcbbb</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.suitmedia.firstPhase</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2P5K8VS57T</string>
				<key>name</key>
				<string>wahyu kharisma mujiono</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
